@import url('../style.css');

/* Page specific styles */
.create-product-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    width: 100%;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}